<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script type="text/javascript">
    function generateRandomPic() {
        $.getJSON("/search.json", function (pics) {
            const picHref = '' + pics[Math.floor(Math.random() * pics.length)].href.slice(1);
            $("#random_pic").append('<a href="' + picHref
                + '"><img class="random-pic" src="' + picHref + '"></img>');
        });
    }

    $(document).ready(function () {
        generateRandomPic();
    });
</script>