// Header
.page-header {
  text-align: center;
  margin: 1.5rem 0;
}

.names {
  @include serif_bold;
  font-size: 2.5rem;
}

// Content
.page-content {
  @include sans_regular;
  margin-bottom: 1.5rem;
}

.text {
  text-align: center;
}

.save-text {
  margin-bottom: 1.5rem;
}

.pic-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.random-pic {
  @include border-radius(10px);
  width: 90%;
  margin-bottom: 1.5rem;
  margin-left: 5%;
  margin-right: 5%;
}

// Footer
.page-footer {
  border-top: 4px solid #c7c7c7;
  padding-top: 1.5rem;
  text-align: center;
  margin-bottom: 3rem;

  .footer-line {
    margin: 0;
    font-size: .875rem;
    color: #999;
  }
}