// Variables

// Spacing
$container-width: 980px !default;
$grid-gutter: 8px !default;

// Colors
$white: #fff;
$black: #222;
$gray: #333;
$sky: #7ef6ff;
$darksky: #56adb3;
$pink: #ff6af3;

// Styles
$text-color: $white;
$heavy: 700;
$regular: 400;
$light: 300;

// Transitions
$x-time: 0.25s;
$x-ease: ease-out;

// // Font stack
// $body-font: "Liberation Sans Narrow", Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol" !default;

// // The base body size
// $body-font-size: 13px !default;

// // Monospace font stack
// $mono-font: Consolas, "Liberation Mono", Menlo, Courier, monospace !default;