<!DOCTYPE html>
<html>

{% include head.html %}

<body class="theme-default">
  <div class="wrapper">

    <header class="page-header">
      <h1 class="header-name" itemprop="name">Emma Lodes & David Matthews</h1>
    </header>

    <div class="pic-box" id="random_pic"></div>

    <div class="page-content">
      <h2 class="save-text">Save the date!</h2>
      <h2 class="date">6 June 2026</h2>
    </div>

    <footer class="page-footer">
      <p class="footer-line">Steal my code from <a href="https://github.com/dirtbirb/save-the-date">GitHub</a>.
      </p>
    </footer>
  </div>
</body>

</html>