<!DOCTYPE html>
<html>

{% include head.html %}

<body class="theme-default">
  <div class="wrapper">

    <header class="page-header">
      <h1 class="names">Emma Lodes & David Matthews</h1>
    </header>

    <div class="pic-box" id="random_pic"></div>

    <div class="page-content">
      <h1 class="save-text">Save the date!</h1>
      <h2 class="date">6 June 2026</h2>
      <a href="https://www.arizonanordicvillage.com/">
        <h3 class="location">Arizona Nordic Village</h3>
      </a>
      <p class="text">Camping / basic accomodations provided</p>
      <div class="calendars">
        <p class="text">Add to calendar:&nbsp;
          <a href="https://calendar.google.com/calendar/render?action=TEMPLATE&dates=20260606%2F20260608&details=https%3A%2F%2Fdirtbirb.github.io%2Fsave-the-date%2F&location=Arizona%20Nordic%20Village&text=Emma%20and%20Dave%20Wedding"
            target="_blank" rel="noopener noreferrer" title="Save Event in Google Calendar">Google</a>&nbsp;•
          <a href="https://outlook.live.com/calendar/0/action/compose?allday=true&body=https%3A%2F%2Fdirtbirb.github.io%2Fsave-the-date%2F&enddt=2026-06-07T17%3A00%3A00&location=Arizona%20Nordic%20Village&path=%2Fcalendar%2Faction%2Fcompose&rru=addevent&startdt=2026-06-05T17%3A00%3A00&subject=Emma%20and%20Dave%20Wedding"
            target="_blank" rel="noopener noreferrer" title="Save Event in Outlook Calendar">Outlook</a>&nbsp;•
          <a href="https://outlook.office.com/calendar/0/action/compose?allday=true&body=https%3A%2F%2Fdirtbirb.github.io%2Fsave-the-date%2F&enddt=2026-06-07T17%3A00%3A00&location=Arizona%20Nordic%20Village&path=%2Fcalendar%2Faction%2Fcompose&rru=addevent&startdt=2026-06-05T17%3A00%3A00&subject=Emma%20and%20Dave%20Wedding"
            target="_blank" rel="noopener noreferrer" title="Save Event in Office 365 Calendar">Office
            365</a>&nbsp;•
          <a href="https://calendar.yahoo.com/?desc=https%3A%2F%2Fdirtbirb.github.io%2Fsave-the-date%2F&dur=allday&et=20260608&in_loc=Arizona%20Nordic%20Village&st=20260606&title=Emma%20and%20Dave%20Wedding&v=60"
            target="_blank" rel="noopener noreferrer" title="Save Event in Yahoo! Calendar">Yahoo!</a>
        </p>
      </div>
    </div>

  </div>
</body>

</html>